// Login

$background_login: #f9f9f9;


// new 

$shadow: rgba(0, 0, 0, 0.3);
$dark_grey: #252525;
$ligth_grey: #919191;
$placeholder_grey: rgba(0, 0, 0, 0.3);
$primary_color: #7C79AC;
$primary_light_color: #8e8bbd;
$secundary_color: #63C4B8;
$terciary_color: #CC8860;

$light_background: #f3f3f3;
$light_background_hover: #e4e4e4;