// Importar fontes
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');

// Importar variáveis
@import 'variables';

// Importar mixins
@import 'mixins';

// Importar layouts
// @import 'layouts/login';

// Importar componentes
@import 'components/form/form';
@import 'components/struct/header';
@import 'components/struct/footer';

*{
    @include mp0;
}

html{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    overflow-x: hidden;
}

#root{
    width: 100vw;
}

h1, h2, h3, h4 {
    font-family: 'Oxygen', sans-serif;
}

p{
    line-height: 25px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: $primary_color;
    text-decoration: none;
    border-bottom: 0px solid $terciary_color;
    transition: .5s all;

    &:hover{
        color: $terciary_color;
        border-bottom: 3px solid $terciary_color;
    }
}

svg{
    fill: $dark_grey;
}

ul{
    list-style: none;

    &.ul_inline{
        li{
            display: inline;
        }
    }
}

.mt-30{
    margin-top: 30px;
}

.flex{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .flex{
        flex-wrap: wrap;
    }
}

.container{
    position: relative;
    width: 95vw;
    max-width: 1280px;
    margin: 0 auto;
}

main{
    min-height: 500px;
    overflow-x: auto;
}

.main_content{
    margin-top: 40px;

    &.profile{
        > section{
            h3{
                margin: 15px 0;
            }
        }
    }
}

.just_mobile{
    display: none;
    
    @media (max-width: 767.98px) {
        display: block;
    }
}

/* ---------- MODAL ---------- */

.curtain{
    @include absolute_full;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 98;
}

.modal{
    padding: 40px;
    position: fixed;
    @include center;
    min-width: 100px;
    min-height: 100px;
    background: #fff;
    z-index: 99;

    @media (max-width: 767.98px) {
        width: 90vw;
        padding: 20px;
    }
}

/* ---------- EVENTS ---------- */


.event_box{
    border-radius: 10px;
    background: $light_background;
    margin: 10px 0;
    padding: 20px;
    transition: .5s all;

    &:hover{
        background: $light_background_hover;
    }

    &.__inactive{
        opacity: .3;
    }

    h3{
        margin-bottom: 8px;
        font-size: 1.4em;
    }

    .date{
        .beginning{
            display: block;
            color: $dark_grey;
            font-weight: bold;
        }
        .end{

        }
    }
}

.description{
    padding: 20px 0;
    
    span{
        display: block;
    }
}

.tickets{
    margin-left: -10px;

    > div{
        flex: 1 0 auto;
        margin: 10px;
    }
}