@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oxygen");
.input_wrap {
  position: relative;
}

.input_wrap > span {
  top: 50px;
  font-size: 10px;
  position: absolute;
}

.input_wrap .errors {
  color: red;
  display: block;
}

@media (max-width: 767.98px) {
  .input_wrap {
    display: block !important;
  }
}

fieldset {
  padding: 20px;
  margin-bottom: 20px;
}

fieldset legend {
  padding: 0 20px;
}

fieldset > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

fieldset > div .input_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

fieldset > div > div {
  display: block;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=password], input[type=search], select {
  height: 50px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 13px 23px 0px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  -webkit-transition: .2s all;
  transition: .2s all;
  outline: 0;
  border-radius: 5px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus, input[type=password]:focus, input[type=search]:focus, select:focus {
  border-color: #7C79AC;
}

input[type=text].focused_or_filled, input[type=email].focused_or_filled, input[type=number].focused_or_filled, input[type=date].focused_or_filled, input[type=password].focused_or_filled, input[type=search].focused_or_filled, select.focused_or_filled {
  border-color: #7C79AC;
}

input[type=text].green, input[type=email].green, input[type=number].green, input[type=date].green, input[type=password].green, input[type=search].green, select.green {
  border-color: #63C3B7;
  border-width: 2px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: center right 23px;
  background-repeat: no-repeat;
}

label {
  position: absolute;
  left: 23px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s all;
  transition: .2s all;
  cursor: pointer;
  color: #7C79AC;
  top: 3px;
  font-size: .8em;
}

/* ---------- RADIO ---------- */
.tickets_radio input {
  display: none;
}

.tickets_radio input:checked + label {
  color: #7C79AC;
}

.tickets_radio input:checked + label .custom_label {
  background: #e4e4e4;
  -webkit-box-shadow: inset 0 0 0 5px #7C79AC;
          box-shadow: inset 0 0 0 5px #7C79AC;
}

.tickets_radio label {
  position: relative;
  top: auto;
  left: auto;
  color: #252525;
}

.tickets_radio .custom_label {
  padding: 20px;
  background: #f3f3f3;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tickets_radio .custom_label:hover {
  background: #e4e4e4;
}

.tickets_radio .custom_label span {
  display: block;
}

.uilgo_btn_wrap {
  display: inline-block;
  padding: 5px;
  background: #7C79AC;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.uilgo_btn_wrap:hover {
  background: #8e8bbd;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.uilgo_btn_wrap:hover button {
  background: #8e8bbd;
}

.uilgo_btn_wrap button {
  height: 45px;
  text-align: center;
  color: #FFF;
  background: #7C79AC;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: 0;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.uilgo_btn_wrap button:disabled {
  opacity: .5;
  cursor: default;
}

.step_title {
  margin-bottom: 10px;
}

.step_title div {
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
  vertical-align: middle;
  background: #7C79AC;
}

.date_big_input input {
  padding: 10px 15px;
  font-size: 20px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

header.main {
  position: relative;
}

header.main .logo {
  height: 100px;
  padding: 25px 0;
}

@media (max-width: 767.98px) {
  header.main .logo {
    height: 64px;
    padding-left: 24px;
  }
}

header.main p {
  position: absolute;
  top: 55px;
  left: 240px;
  max-width: 200px;
  line-height: 15px;
  color: #64BEB7;
}

@media (max-width: 767.98px) {
  header.main p {
    display: none;
  }
}

header.main nav {
  position: absolute;
  top: 55px;
  right: 0px;
}

header.main nav ul li {
  display: inline;
  padding: 0 8px;
}

header.main nav ul li a {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  header.main .nav_bt {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 10px;
    z-index: 5;
    border: none;
    font-size: 20px;
    background: none;
  }
  header.main .nav_bt.opened {
    color: #fff;
  }
  header.main nav {
    top: 24px;
    right: 24px;
    background: #7C79AC;
    z-index: 4;
    padding: 20px;
    padding-top: 50px;
    -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  header.main nav ul li {
    display: block;
    padding: 5px 0;
  }
  header.main nav ul li a {
    color: #fff;
  }
  header.main nav.closed {
    display: none;
  }
}

.page_title {
  color: #fff;
  padding: 15px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#8363A9), to(#62C5B8));
  background-image: linear-gradient(to right, #8363A9, #62C5B8);
}

.page_title .search_input {
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 20px;
}

footer {
  text-align: center;
  color: #919191;
  padding-top: 50px;
  padding-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  overflow-x: hidden;
}

#root {
  width: 100vw;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
}

p {
  line-height: 25px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #7C79AC;
  text-decoration: none;
  border-bottom: 0px solid #CC8860;
  -webkit-transition: .5s all;
  transition: .5s all;
}

a:hover {
  color: #CC8860;
  border-bottom: 3px solid #CC8860;
}

svg {
  fill: #252525;
}

ul {
  list-style: none;
}

ul.ul_inline li {
  display: inline;
}

.mt-30 {
  margin-top: 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767.98px) {
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container {
  position: relative;
  width: 95vw;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  min-height: 500px;
  overflow-x: auto;
}

.main_content {
  margin-top: 40px;
}

.main_content.profile > section h3 {
  margin: 15px 0;
}

.just_mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .just_mobile {
    display: block;
  }
}

/* ---------- MODAL ---------- */
.curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
}

.modal {
  padding: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100px;
  min-height: 100px;
  background: #fff;
  z-index: 99;
}

@media (max-width: 767.98px) {
  .modal {
    width: 90vw;
    padding: 20px;
  }
}

/* ---------- EVENTS ---------- */
.event_box {
  border-radius: 10px;
  background: #f3f3f3;
  margin: 10px 0;
  padding: 20px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.event_box:hover {
  background: #e4e4e4;
}

.event_box.__inactive {
  opacity: .3;
}

.event_box h3 {
  margin-bottom: 8px;
  font-size: 1.4em;
}

.event_box .date .beginning {
  display: block;
  color: #252525;
  font-weight: bold;
}

.description {
  padding: 20px 0;
}

.description span {
  display: block;
}

.tickets {
  margin-left: -10px;
}

.tickets > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 10px;
}
/*# sourceMappingURL=app.css.map */