header.main{
    position: relative;

    .logo{
        height: 100px;
        padding: 25px 0;

        @media (max-width: 767.98px) {
            height: 64px;
            padding-left: 24px;
        }
    }

    p{
        position: absolute;
        top: 55px;
        left: 240px;
        max-width: 200px;
        line-height: 15px;
        color: #64BEB7;

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    nav{
        position: absolute;
        top: 55px;
        right: 0px;

        ul{
            li{
                display: inline;
                padding: 0 8px;

                a{
                    font-weight: bold;
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .nav_bt{
            position: absolute;
            top: 24px;
            right: 24px;
            padding: 10px;
            z-index: 5;
            border: none;
            font-size: 20px;
            background: none;
            
            &.opened{
                color: #fff;
            }
        }
        
        nav{
            top: 24px;
            right: 24px;
            background: $primary_color;
            z-index: 4;
            padding: 20px;
            padding-top: 50px;
            box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);

            ul{
                li{
                    display: block;
                    padding: 5px 0;

                    a{
                        color: #fff;
                    }
                }
            }

            &.closed{
                display: none;
            }
        }
    }
}

.page_title{
    color: #fff;
    padding: 15px 0;
    background-image: linear-gradient(to right, #8363A9 , #62C5B8);

    .search_input{
        font-size: 1.2em;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

