.uilgo_btn_wrap{
    display: inline-block;
    padding: 5px;
    background: $primary_color;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: .2s all;

    &:hover{
        // background-image: linear-gradient(to right, #8363A9 , #62C5B8);
        background: $primary_light_color;
        box-shadow: 0 1px 2px $shadow;
        transform: translateY(-2px);

        button{
            background: $primary_light_color;
        }
    }

    
    button{
        height: 45px;
        text-align: center;
        color: #FFF;
        background: $primary_color;
        font-weight: 500;
        line-height: 21px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        outline: 0;
        padding: 0 10px;
        border-radius: 5px;
        cursor: pointer;
        
        &:disabled{
            opacity: .5;
            cursor: default;
        }
    }
}