@import "inputs";
@import "buttons";

.step_title {
  margin-bottom: 10px;
  
  div {
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    vertical-align: middle;
    background: $primary_color;
  }
}

.date_big_input{
  input{
    padding: 10px 15px;
    font-size: 20px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
