.input_wrap{
    position: relative;

    > span{
        top: 50px;
        font-size: 10px;
        position: absolute;
    }
    
    .errors{
        color: red;
        display: block;
    }

    @media (max-width: 767.98px) {
        display: block !important;
    }
}

fieldset{
    padding: 20px;
    margin-bottom: 20px;
    
    legend{
        padding: 0 20px;
    }
    
    > div{
        display: flex;
        flex-wrap: wrap;

        .input_wrap{
            flex: 0 0 auto;
            display: inline;
            margin-left: 10px;
            margin-right: 10px;
        }

        > div{
            display: block;
        }
    }
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=password], input[type=search], select{
    height: 50px;
    background:#f8f8f8;
    border: 1px solid rgba(0,0,0,0.06);
    padding: 13px 23px 0px 23px;
    box-sizing: border-box;
    margin-bottom: 30px;
    transition: .2s all;
    outline: 0;
    border-radius: 5px;

    &:focus{
        border-color: $primary_color;
    }

    &.focused_or_filled{
        border-color: $primary_color;
    }

    &.green{
        border-color: #63C3B7;
        border-width: 2px;
    }
}

select {
    appearance: none;
    background-position: center right 23px;
    background-repeat: no-repeat;
}

label{
    position: absolute;
    // top: 13px;
    left: 23px;
    line-height: 24px;
    color: $placeholder_grey;
    transition: .2s all;
    cursor: pointer;
    color: $primary_color;
    top: 3px;
    font-size: .8em;
}

/* ---------- RADIO ---------- */

.tickets_radio{
    input{
        display: none;

        &:checked + label {
            color: $primary_color;

            .custom_label{
                background: $light_background_hover;
                box-shadow: inset 0 0 0 5px $primary_color;
            }
        }
    }

    label{
        position: relative;
        top: auto;
        left: auto;
        color: $dark_grey;
    }

    .custom_label {
        padding: 20px;
        background: $light_background;
        cursor: pointer;
        border-radius: 5px;
        box-sizing: border-box;

        &:hover{
            background: $light_background_hover;
        }

        span{
            display: block;
        }
    }
}